{% set node = nodes[inventory_hostname] %}

{% if node.lag_id_2 is defined %}
This Peering config is for {{ node.jira }} in {{ inventory_hostname }} for {{ node.name|upper }} with capacity AE{{node.lag_id_1}}-{{ node.lag_bw_1 }}G and AE{{node.lag_id_2}}-{{ node.lag_bw_2 }}G
{% elif node.lag_id_1 is defined %}
This Peering config is for {{ node.jira }} in {{ inventory_hostname }} for {{ node.name|upper }} with capacity AE{{node.lag_id_1}}-{{ node.lag_bw_1 }}G
{% else %}
This Public Peering config is for {{ node.jira }} in {{ inventory_hostname }} for {{ node.name|upper }}
{% endif %}


#CHANGE SPECIFIC PRE-CHECKS BELOW!

Router Name: {{ inventory_hostname }}

{% if node.lag_id_1 is defined %}
show interfaces ae{{ node.lag_id_1 }}
show lacp interfaces ae{{ node.lag_id_1 }}
{% else %}
ping {{node.bgp.peer_ipv4_1}} source {{node.lag_local_ipv4_1.split("/")[0]}} count 1000 rapid 
ping {{node.bgp.peer_ipv6_1}} source {{node.lag_local_ipv6_1.split("/")[0]}} count 1000 rapid
sh route {{ node.bgp.peer_ipv4_1 }}
sh route {{node.lag_local_ipv4_1.split("/")[0]}}
{% endif %}

{% if node.lag_id_2 is defined %}
show interfaces ae{{ node.lag_id_2 }}
show lacp interfaces ae{{ node.lag_id_2 }}
{% else %}
{% endif %}

{% if node.lag_id_1 is defined %}
{% for intf,intf_attr in node.lag_id_1_links.items()|sort %}
show interfaces {{ intf }}
show interfaces diagnostics optics {{ intf }} | match dBm | except threshold
{% endfor %}
{% else %}
{% endif %}

{% if node.lag_id_2 is defined %}   
{% for intf,intf_attr in node.lag_id_2_links.items()|sort %}
show interfaces {{ intf }}
show interfaces diagnostics optics {{ intf }} | match dBm | except threshold
{% endfor %}
{% else %}
{% endif %}

{% if node.lag_id_1 is defined %}
show route {{ node.lag_local_ipv4_1 }}
{% else %}
{% endif %}

{% if node.lag_id_2 is defined %}   
show route {{ node.lag_local_ipv4_2 }}
{% else %}
{% endif %}

{% if node.lag_id_1 is defined %}
show route {{ node.lag_local_ipv6_1 }}
{% else %}
{% endif %}

{% if node.lag_id_2 is defined %}   
show route {{ node.lag_local_ipv6_2 }}
{% else %}
{% endif %}


{% if node.bgp.peer_ipv4_1 is defined %}
sh configuration | match {{ node.bgp.remote_as }} | display set
#WARNING: If BGP group already existed, chances of overwrite possible!! USE CAUTION!!
{% else %}
{% endif %}


{% if node.bgp.remote_as is defined %}
show bgp summary | m {{ node.bgp.remote_as }}
{% else %}
{% endif %}


{% if node.bgp.peer_ipv4_1 is defined %} 
show route advertising-protocol bgp {{ node.bgp.peer_ipv4_1 }}
{% else %}
{% endif %}

{% if node.bgp.peer_ipv4_2 is defined %}
show route advertising-protocol bgp {{ node.bgp.peer_ipv4_2}}
{% else %}
{% endif %}

{% if node.bgp.peer_ipv4_1 is defined %}
show route receive-protocol bgp {{ node.bgp.peer_ipv4_1 }}
{% else %}
{% endif %}


{% if node.bgp.peer_ipv4_2 is defined %} 
show route receive-protocol bgp {{ node.bgp.peer_ipv4_2 }}
{% else %}
{% endif %}

{% if node.bgp.peer_ipv6_1 is defined %}
show route advertising-protocol bgp {{ node.bgp.peer_ipv6_1 }}
{% else %}
{% endif %}


{% if node.bgp.peer_ipv6_2 is defined %} 
show route advertising-protocol bgp {{ node.bgp.peer_ipv6_2 }}
{% else %}
{% endif %}

{% if node.bgp.peer_ipv6_1 is defined %}
show route receive-protocol bgp {{ node.bgp.peer_ipv6_1 }}
{% else %}
{% endif %}


{% if node.bgp.peer_ipv6_2 is defined %}
show route receive-protocol bgp {{ node.bgp.peer_ipv6_2 }}
{% else %}
{% endif %}


#CHANGE SPECIFIC CONFIGURATIONS BELOW!

START

Router Name: {{ inventory_hostname }}

{% if node.lag_id_1 is defined %}
#LAG 1 Interface Configs!
set interfaces ae{{ node.lag_id_1 }} description "[TYPE={{ node.type|upper }}][BW={{ node.lag_bw_1 }}G][NAME={{ node.name|upper }}][AS={{ node.bgp.remote_as }}][GRNT={{ node.lag_grnt_1|upper }}][IP={{ node.bgp.peer_ipv4_1 }}]"
set interfaces ae{{ node.lag_id_1 }} aggregated-ether-options minimum-links 1
set interfaces ae{{ node.lag_id_1 }} aggregated-ether-options link-speed {{ node.lag_id_1_link_bw }}g
set interfaces ae{{ node.lag_id_1 }} aggregated-ether-options lacp active
set interfaces ae{{ node.lag_id_1 }} apply-groups EXTERNAL_PEERING_INTERFACE_GROUP
set interfaces ae{{ node.lag_id_1 }} unit 0 family inet address {{ node.lag_local_ipv4_1 }}
set interfaces ae{{ node.lag_id_1 }} unit 0 family inet6 address {{ node.lag_local_ipv6_1 }}
set class-of-service interfaces ae{{ node.lag_id_1 }} apply-groups PEER_QOS

#Interface Config LAG!

{% for intf, intf_attr in node.lag_id_1_links.items()|sort %}
set interfaces {{ intf }} description "[TYPE={{ node.type|upper }}][BW={{ node.lag_id_1_link_bw }}G][NAME={{ node.name|upper }}][AS={{ node.bgp.remote_as }}][LAG={{ node.lag_id_1 }}][GRNT={{ intf_attr.int_grnt|upper }}][JIRA={{ node.jira|upper }}][CCID={{ intf_attr.ccid|upper }}][PCID={{ intf_attr.pcid|upper }}]"
set interfaces {{ intf }} apply-groups EXTERNAL_PEERING_INTERFACE_GROUP
set interfaces {{ intf }} gigether-options 802.3ad ae{{ node.lag_id_1 }}
{% endfor %}
{% else %}
{% endif %}


{% if node.lag_id_2 is defined %}
#LAG 2 Interface Configs!
set interfaces ae{{ node.lag_id_2 }} description "[TYPE={{ node.type|upper }}][BW={{ node.lag_bw_2 }}G][NAME={{ node.name|upper }}][AS={{ node.bgp.remote_as }}][GRNT={{ node.lag_grnt_2|upper }}][IP={{ node.bgp.peer_ipv4_2 }}]" 
set interfaces ae{{ node.lag_id_2 }} aggregated-ether-options minimum-links 1
set interfaces ae{{ node.lag_id_2 }} aggregated-ether-options link-speed {{ node.lag_id_2_link_bw}}g
set interfaces ae{{ node.lag_id_2 }} aggregated-ether-options lacp active
set interfaces ae{{ node.lag_id_2 }} apply-groups EXTERNAL_PEERING_INTERFACE_GROUP
set interfaces ae{{ node.lag_id_2 }} unit 0 family inet address {{ node.lag_local_ipv4_2 }}
set interfaces ae{{ node.lag_id_2 }} unit 0 family inet6 address {{ node.lag_local_ipv6_2 }}
set class-of-service interfaces ae{{ node.lag_id_2 }} apply-groups PEER_QOS

#Interface Config LAG2!

{% for intf, intf_attr in node.lag_id_2_links.items()|sort %}
set interfaces {{ intf }} description "[TYPE={{node.type|upper}}][BW={{ node.lag_id_2_link_bw }}G][NAME={{ node.name|upper }}][AS={{ node.bgp.remote_as }}][LAG={{ node.lag_id_2 }}][GRNT={{ intf_attr.int_grnt|upper }}][JIRA={{ node.jira|upper }}][CCID={{ intf_attr.ccid|upper }}][PCID={{ intf_attr.pcid|upper }}]"
set interfaces {{ intf }} apply-groups EXTERNAL_PEERING_INTERFACE_GROUP
set interfaces {{ intf }} gigether-options 802.3ad ae{{ node.lag_id_2 }}
{% endfor %}
{% else %}
{% endif %}

#BGP Configs!

set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} apply-groups bgp-peer
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} description "https://www.peeringdb.com/asn/{{ node.bgp.remote_as }}"
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} import INBOUND-PEERS
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} import FINAL-POLICY
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} family inet unicast prefix-limit maximum {{ node.bgp.ipv4_prefix_limit }}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} family inet unicast prefix-limit teardown 90
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} family inet6 unicast prefix-limit maximum {{ node.bgp.ipv6_prefix_limit }}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} family inet6 unicast prefix-limit teardown 90
{% if node.bgp.group_md5 is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} authentication-key {{ node.bgp.group_md5 }}
{% else %}
{% endif %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} export OUTBOUND-PEERS-FILTER
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} export ALL-REGIONAL-AGGS
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} export OUTBOUND-PEERS-KMA
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} export FINAL-POLICY
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} peer-as {{ node.bgp.remote_as }}
{% if node.bgp.peer_ipv4_2 is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} multipath
{% else %}
{% endif %}

{% if node.bgp.peer_ipv4_multihop_1 is defined %}
set routing-options static route {{ node.bgp.peer_ipv4_multihop_1}}/32 next-hop {{ node.bgp.peer_ipv4_1 }}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv4_multihop_1 }} multihop ttl {{ node.bgp.peer_multihop_1_ttl }}
{% if node.bgp.ipv4_md5 is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv4_multihop_1 }} authentication-key {{ node.bgp.ipv4_md5 }}
{% else %}
{% endif %}
{% if node.bgp.timers_hold is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv4_multihop_1 }} hold-time {{ node.bgp.timers_hold }}
{% else %}
{% endif %}
{% elif node.bgp.peer_ipv4_1 is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv4_1 }}
{% if node.bgp.ipv4_md5 is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv4_1 }} authentication-key {{ node.bgp.ipv4_md5 }}
{% else %}
{% endif %}
{% if node.bgp.timers_hold is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv4_1 }} hold-time {{ node.bgp.timers_hold }}
{% else %}
{% endif %}
{% else %}
{% endif %}

{% if node.bgp.peer_ipv4_multihop_2 is defined %}
set routing-options static route {{ node.bgp.peer_ipv4_multihop_2}}/32 next-hop {{ node.bgp.peer_ipv4_2 }}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv4_multihop_2 }} multihop ttl {{ node.bgp.peer_multihop_2_ttl }}
{% if node.bgp.ipv4_md5 is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv4_multihop_2 }} authentication-key {{ node.bgp.ipv4_md5 }}
{% else %} 
{% endif %}
{% if node.bgp.timers_hold is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv4_multihop_2 }} hold-time {{ node.bgp.timers_hold }}
{% else %}               
{% endif %}
{% elif node.bgp.peer_ipv4_2 is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv4_2 }}
{% if node.bgp.ipv4_md5 is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv4_2 }} authentication-key {{ node.bgp.ipv4_md5 }}
{% else %}
{% endif %}
{% if node.bgp.timers_hold is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv4_2 }} hold-time {{ node.bgp.timers_hold }}
{% else %}
{% endif %}
{% else %}
{% endif %}

{% if node.bgp.peer_ipv6_multihop_1 is defined %}
set routing-options static route {{ node.bgp.peer_ipv6_multihop_1}}/128 next-hop {{ node.bgp.peer_ipv6_1 }}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv6_multihop_1 }} family inet6 unicast
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv6_multihop_1 }} multihop ttl {{ node.bgp.peer_multihop_1_ttl }}
{% if node.bgp.ipv6_md5 is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv6_multihop_1 }} authentication-key {{ node.bgp.ipv6_md5 }}
{% else %} 
{% endif %}
{% if node.bgp.timers_hold is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv6_multihop_1 }} hold-time {{ node.bgp.timers_hold }}
{% else %}               
{% endif %}
{% elif node.bgp.peer_ipv6_1 is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv6_1 }} family inet6 unicast
{% if node.bgp.ipv6_md5 is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv6_1 }} authentication-key {{ node.bgp.ipv6_md5 }}
{% else %}
{% endif %}
{% if node.bgp.timers_hold is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv6_1 }} hold-time {{ node.bgp.timers_hold }}
{% else %}
{% endif %}
{% else %}
{% endif %}

{% if node.bgp.peer_ipv6_multihop_2 is defined %}
set routing-options static route {{ node.bgp.peer_ipv6_multihop_2}}/128 next-hop {{ node.bgp.peer_ipv6_2 }}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv6_multihop_2 }} family inet6 unicast
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv6_multihop_2 }} multihop ttl {{ node.bgp.peer_multihop_2_ttl }}
{% if node.bgp.ipv6_md5 is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv6_multihop_2 }} authentication-key {{ node.bgp.ipv6_md5 }}
{% else %} 
{% endif %}
{% if node.bgp.timers_hold is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv6_multihop_2 }} hold-time {{ node.bgp.timers_hold }}
{% else %}               
{% endif %}
{% elif node.bgp.peer_ipv6_2 is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv6_2 }} family inet6 unicast
{% if node.bgp.ipv6_md5 is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv6_2 }} authentication-key {{ node.bgp.ipv6_md5 }}
{% else %}
{% endif %}
{% if node.bgp.timers_hold is defined %}
set protocols bgp group p-{{ node.bgp.remote_as }}-{{ node.name|upper }} neighbor {{ node.bgp.peer_ipv6_2 }} hold-time {{ node.bgp.timers_hold }}
{% else %}
{% endif %}
{% else %}
{% endif %}

END


#CHANGE SPECIFIC POST-CHECKS BELOW!

Router Name: {{ inventory_hostname }}

{% if node.lag_id_1 is defined %}
show int ae{{ node.lag_id_1 }}
show lacp interfaces ae{{ node.lag_id_1 }}
show interfaces ae{{ node.lag_id_1 }} extensive | match err
show configuration interfaces ae{{ node.lag_id_1 }} | display inheritance

show route {{ node.lag_local_ipv4_1 }}
show route {{ node.lag_local_ipv6_1 }}

ping {{node.bgp.peer_ipv4_1}} source {{node.lag_local_ipv4_1.split("/")[0]}} count 1000 rapid
ping {{node.bgp.peer_ipv6_1}} source {{node.lag_local_ipv6_1.split("/")[0]}} count 1000 rapid
{% else %}
{% endif %}

{% if node.lag_id_2 is defined %}
show int ae{{ node.lag_id_2 }}
show lacp interfaces ae{{ node.lag_id_2 }}
show interfaces ae{{ node.lag_id_2 }} extensive | match err
show configuration interfaces ae{{ node.lag_id_2 }} | display inheritance

show route {{ node.lag_local_ipv4_2 }}
show route {{ node.lag_local_ipv6_2 }}

ping {{node.bgp.peer_ipv4_2}} source {{node.lag_local_ipv4_2.split("/")[0]}} count 1000 rapid
ping {{node.bgp.peer_ipv6_2}} source {{node.lag_local_ipv6_2.split("/")[0]}} count 1000 rapid
{% else %}
{% endif %}

{% if node.bgp.remote_as is defined %}
show bgp summary | m {{ node.bgp.remote_as }}
show bgp neighbor {{ node.bgp.peer_ipv4_1 }}
show bgp neighbor {{ node.bgp.peer_ipv6_1 }}
{% else %}
{% endif %}


{% if node.bgp.peer_ipv4_2 is defined %}
show bgp neighbor {{ node.bgp.peer_ipv4_2 }}
show bgp neighbor {{ node.bgp.peer_ipv6_2 }}
{% else %}
{% endif %}

show route advertising-protocol bgp {{ node.bgp.peer_ipv4_1 }}

{% if node.bgp.peer_ipv4_2 is defined %}
show route advertising-protocol bgp {{ node.bgp.peer_ipv4_2}}
{% else %}
{% endif %}

show route receive-protocol bgp {{ node.bgp.peer_ipv4_1 }}

{% if node.bgp.peer_ipv4_2 is defined %}
show route receive-protocol bgp {{ node.bgp.peer_ipv4_2 }}
{% else %}
{% endif %}

show route advertising-protocol bgp {{ node.bgp.peer_ipv6_1 }}

{% if node.bgp.peer_ipv6_2 is defined %}
show route advertising-protocol bgp {{ node.bgp.peer_ipv6_2 }}
{% else %}
{% endif %}

show route receive-protocol bgp {{ node.bgp.peer_ipv6_1 }}

{% if node.bgp.peer_ipv6_2 is defined %}
show route receive-protocol bgp {{ node.bgp.peer_ipv6_2 }}
{% else %}
{% endif %}


{% if node.lag_id_1 is defined %}
{% for intf,intf_attr in node.lag_id_1_links.items() %}
show interfaces {{ intf }}
show configuration interfaces {{ intf }} | display inheritance
show interfaces {{ intf }} extensive | match err
{% endfor %}
{% else %}
{% endif %}

{% if node.lag_id_2 is defined %}   
{% for intf,intf_attr in node.lag_id_2_links.items() %}
show interfaces {{ intf }}
show configuration interfaces {{ intf }} | display inheritance
show interfaces {{ intf }} extensive | match err
{% endfor %}
{% else %}
{% endif %}
